
<div class="animate_animated animate_animated_fadeIn animate_faster">
<h5>Buscar</h5>
<app-input 
    (onEnter)="buscar( $event)"
    (onDebounce)= "predict($event)"
    predef="Madrid">
</app-input>
   
</div>

<div class="row">
    <ul class="list-group">
        <li *ngFor="let pais of paisesSug" 
        class="list-group-item list-droup-item-action">
            <a [routerLink]="['/verPais', pais.alpha3Code]"> {{pais.capital}} - {{pais.name}}</a>
        </li>
    </ul></div>


<hr>

    
<div *ngIf="match; else NoMatch">
    <div  class="row"><div class="col">
        <app-tabla [paises]="paises">

        </app-tabla>
    </div></div>
</div>
 
<ng-template #NoMatch>
 
    <div  class="alert alert-danger">
        No se encontró ningún país
    </div>
</ng-template>
